<%= image_tag("map_homework.png", alt: "world-map", class: "no") %>
  <div id='marker_div' style="
          height:  58.33px;
          width:   100.55px;
          background-color: red;
          position: absolute;
          z-index: 9999;
          opacity: 0.3;
          left: <%=@left %>;
          top: <%=@top %>;
  ">
  </div>